<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">
    <script src='assets/javascript/burgerButtons.js'></script>
    <title>Document</title>
</head>

<body>  
    <div class='container'>
        
        <img id='hamburger' src='/assets/img/Hamburger-PNG-Pic.png'/>
        <h1>Eat-Da-Burger!</h1>
        {{{body}}}
        <form>
            <input id='input-form'></input>
            <button id='submit-button'>Submit</button>
        </form>
        <p class='submit-info'>Enter a burger you want to eat Click the 'Submit' button.</p>
    </div>
</body>
</html>